<%- include('../partials/adminNavbar.ejs'); %>

<ul class="uk-breadcrumb uk-margin-large-left">
  <li>
    <a href="/admin" class="uk-button uk-button-text noSelect"
      >Back to dashboard</a
    >
  </li>
  <li>
    <a href="/admin/users" class="active uk-button uk-button-text noSelect"
      >Users</a
    >
  </li>
</ul>

<!-- USERS AND DETAILS -->
<div
  class="
    uk-section uk-section-muted uk-section-statistics uk-section-large
    borderBottom
  "
>
  <div class="uk-container">
    <h4 class="uk-text-uppercase uk-text-center uk-margin-top-large tagline1">
      All Users
    </h4>
    <hr class="uk-divider-icon" />
    <div
      class="
        uk-child-width-1-1
        uk-child-width-1-2@s
        uk-child-width-1-4@m
        uk-grid-small
        uk-grid-match
        uk-margin-large-top
        uk-margin-large-bottom
      "
      uk-grid
    >
      <% if(basicUsers.length > 0) { %> <% basicUsers.forEach((basicUser)=> { %>

      <div>
        <div class="uk-card uk-card-hover uk-card-default">
          <div class="uk-card-header">
            <h3 class="uk-card-title uk-text-center"><%- basicUser.name %></h3>
            <p
              class="
                uk-text-primary uk-text-center uk-padding-medium uk-text-break
              "
            >
              <%- basicUser.email %>
            </p>
          </div>
          <div class="uk-card-body">
            <p class="uk-text-success uk-text-bolder">Joined on</p>
            <p class="uk-text-meta uk-margin-remove-top">
              <%- helper.formatDate(basicUser.createdAt, 'MMMM Do YYYY')%>
            </p>
          </div>
          <div class="uk-card-footer">
            <a
              href="/admin/users/asdf"
              class="uk-button uk-button-text noSelect"
              >Full details</a
            >
          </div>
        </div>
      </div>
      <% }) %> <% } else { %>
      <p
        class="
          uk-text-center uk-text-large uk-text-warning uk-margin-small-left
        "
      >
        No Users Joined
      </p>
      <% } %>
    </div>
  </div>
</div>
