<%- include('../partials/adminNavbar.ejs'); %>

<ul class="uk-breadcrumb uk-margin-large-left">
  <li>
    <a href="/admin" class="uk-button uk-button-text noSelect"
      >Back to dashboard</a
    >
  </li>
  <li>
    <a href="/admincreate" class="uk-button uk-button-text noSelect"
      >Create Email Updates</a
    >
  </li>
  <li>
    <a href="/admincreate/entry" class="uk-button uk-button-text noSelect"
      >Create New Entry</a
    >
  </li>
  <li>
    <a href="/admincreate/allentries" class="uk-button uk-button-text noSelect"
      >All Entries</a
    >
  </li>
  <li>
    <a
      href="/admincreate/reviewentries"
      class="uk-button uk-button-text noSelect"
      >Review Entries</a
    >
  </li>
</ul>

<div
  class="
    uk-section uk-section-muted uk-section-create-uk-section-large
    borderBottom
  "
>
  <div class="uk-container">
    <div
      class="
        uk-child-width-1-1
        uk-grid-small
        uk-grid-match
        uk-margin-large-top
        uk-margin-large-bottom
      "
      uk-grid
    >
      <div>
        <div
          class="
            uk-child-width-1-1
            uk-grid-small
            uk-grid-match
            uk-margin-large-top
            uk-margin-large-bottom
          "
          uk-grid
        >
          <!-- post creation -->
          <div>
            <div class="uk-card uk-card-hover uk-card-default">
              <%- include('../partials/errors.ejs'); %>
              <div class="uk-card-header">
                <h3 class="uk-card-title uk-text-center">Create New Entry</h3>
                <p
                  class="
                    uk-text-primary
                    uk-text-center
                    uk-padding-medium
                    uk-text-break
                  "
                >
                  New location creation
                </p>
              </div>
              <div class="uk-card-body">
                <form
                  action="/admincreate/entry/images"
                  method="POST"
                  enctype="multipart/form-data"
                  class="uk-margin-medium"
                >
                  <div class="uk-margin-small">
                    <div class="uk-form-stacked">
                      <div class="uk-form-control">
                        <!-- <div uk-form-custom="target: true">
                          <input type="file" required name="image" />
                          <input
                            class="uk-input uk-form-width-large noSelect"
                            type="text"
                            value="<%= typeof
                    image != 'undefined'? image: '' %>"
                            placeholder="Select image gallery for the entry"
                            disabled
                          />
                        </div> -->
                        <div uk-form-custom="target: true">
                          <input type="file" name="image" multiple />
                          <input
                            class="uk-input uk-form-width-large noSelect"
                            type="text"
                            value="<%= typeof
                      image != 'undefined'? image: '' %>"
                            placeholder="Select image gallery for the entry"
                            disabled
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="uk-marign-medium uk-text-center">
                    <div class="uk-form-control">
                      <button
                        type="submit"
                        class="uk-button uk-button-primary noSelect"
                      >
                        Upload
                      </button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="uk-card-footer"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- post creation -->
    </div>
  </div>
</div>
