<%- include('../partials/businessNavbar.ejs'); %>

<ul class="uk-breadcrumb uk-margin-large-left">
  <li>
    <a href="/business" class="uk-button uk-button-text noSelect">My Entries</a>
  </li>
  <li>
    <a href="/business/createentries" class="uk-button uk-button-text noSelect"
      >Create Entries</a
    >
  </li>
  <li>
    <a href="/business/reviewentries" class="uk-button uk-button-text noSelect"
      >Entries For Review</a
    >
  </li>
  <li>
    <a
      href="/business/entries/pendingpayment"
      class="uk-button uk-button-text noSelect"
      >Pending Payments</a
    >
  </li>
  <li>
    <a href="/business/managelisting" class="uk-button uk-button-text noSelect"
      >Manage Listings</a
    >
  </li>
  <li>
    <a href="/business/mypayments" class="uk-button uk-button-text noSelect"
      >My Payments</a
    >
  </li>
</ul>

thsi is my Payments
