<%- include('./partials/navbar.ejs'); %>

<!-- search -->
<div
  class="
    uk-section
    uk-section-large
    uk-section-black
    uk-section-auto
    uk-search-section
    uk-light
  "
>
  <div class="uk-container search-container">
    <h4
      class="
        uk-text-uppercase uk-text-center uk-margin-top-large
        searchheading
        tagline1
      "
    >
      Search For
    </h4>
    <p class="uk-text-center uk-text-large uk-margin-medium-top tagline2">
      1000s Of Restaurants, Bars, Clubs, Pubs and Venues
    </p>
    <hr class="uk-divider-icon" />
    <div class="uk-container uk-flex uk-flex-center uk-margin-large tagline4">
      <a
        class="uk-navbar-toggle uk-button-text uk-text-large"
        href="#modal-full"
        uk-icon="icon: search; ratio:3"
        uk-toggle
      >
        <span class="uk-margin-medium-right search">Search</span></a
      >
    </div>
  </div>
</div>
<!-- modal -->
<div id="modal-full" class="uk-modal-full uk-modal" uk-modal>
  <div
    class="uk-modal-dialog uk-flex uk-flex-center uk-flex-middle"
    uk-height-viewport
  >
    <button
      class="uk-modal-close-full noSelect"
      type="button"
      uk-close
    ></button>
    <form class="uk-search uk-search-large">
      <input
        class="uk-search-input noSelect uk-input-large uk-text-center"
        type="search"
        placeholder="All of Manchester"
        autofocus
      />
    </form>
  </div>
</div>

<div class="uk-section-black uk-section-auto parallaxslider">
  <div
    class="uk-position-relative uk-visible-toggle uk-light"
    tabindex="-1"
    uk-slideshow="animation: push"
  >
    <ul class="uk-slideshow-items">
      <li>
        <img src="/img/header.jpeg" alt="" uk-cover />
        <div class="uk-position-center uk-position-small uk-text-center">
          <h2 uk-slideshow-parallax="y: -50,0,0; opacity: 1,1,0">
            GETTING LIVELY
          </h2>
          <p
            class="uk-text-large"
            uk-slideshow-parallax="y: 50,0,0; opacity: 1,1,0"
          >
            For bars, pubs, restaurants, nightclubs, venues this is the place to
            be
          </p>
        </div>
      </li>
      <li>
        <img src="/img/restaurant.jpeg" alt="" uk-cover />
        <div class="uk-position-center uk-position-small uk-text-center">
          <h2 uk-slideshow-parallax="y: -50,0,0; opacity: 1,1,0">
            Restaurants
          </h2>
          <p uk-slideshow-parallax="y: 50,0,0; opacity: 1,1,0">
            Good Friends, Good Food, Good Times
          </p>
        </div>
      </li>
      <li>
        <img src="/img/club.jpeg" alt="" uk-cover />
        <div class="uk-position-center uk-position-small uk-text-center">
          <h2 uk-slideshow-parallax="y: -50,0,0; opacity: 1,1,0">Clubs</h2>
          <p uk-slideshow-parallax="y: 50,0,0; opacity: 1,1,0">
            Live for today, plan for tomorrow, party tonight, party tonight
          </p>
        </div>
      </li>
      <li>
        <img src="/img/bar.jpeg" alt="" uk-cover />
        <div class="uk-position-center uk-position-small uk-text-center">
          <h2 uk-slideshow-parallax="y: -50,0,0; opacity: 1,1,0">Bars</h2>
          <p uk-slideshow-parallax="y: 50,0,0; opacity: 1,1,0">
            Let's rum away
          </p>
        </div>
      </li>
      <li>
        <img src="/img/pub.jpeg" alt="" uk-cover />
        <div class="uk-position-center uk-position-small uk-text-center">
          <h2 uk-slideshow-parallax="y: -50,0,0; opacity: 1,1,0">Pubs</h2>
          <p uk-slideshow-parallax="y: 50,0,0; opacity: 1,1,0">
            Drink Happy Thoughts
          </p>
        </div>
      </li>
      <li>
        <img src="/img/venue.jpeg" alt="" uk-cover />
        <div class="uk-position-center uk-position-small uk-text-center">
          <h2 uk-slideshow-parallax="y: -50,0,0; opacity: 1,1,0">Venues</h2>
          <p uk-slideshow-parallax="y: 50,0,0; opacity: 1,1,0">
            It's a very special venue and a very special occasion
          </p>
        </div>
      </li>
    </ul>

    <a
      class="uk-position-center-left uk-position-small uk-hidden-hover"
      href="#"
      uk-slidenav-previous
      uk-slideshow-item="previous"
    ></a>
    <a
      class="uk-position-center-right uk-position-small uk-hidden-hover"
      href="#"
      uk-slidenav-next
      uk-slideshow-item="next"
    ></a>
  </div>
</div>

<!-- ads -->
<div class="uk-section uk-section-muted uk-padding-small detailsection">
  <h4 class="uk-text-uppercase uk-text-center" data-aos="fade-down">
    Keep Calm And Find A Great Place To Eat In UK
  </h4>
  <div class="uk-container">
    <div class="row details">
      <div class="column">
        <div class="img-container" data-aos="fade-up">
          <img src="/img/restaurant2.jpeg" class="food1" style="width: 100%" />
          <div class="overlay">
            Restaurants, Fine Dining to Great value and Great food
          </div>
        </div>

        <div class="img-container" data-aos="fade-up">
          <img src="/img/club2.jpeg" class="food1" style="width: 100%" />
          <div class="overlay">
            Nightclubs, the coolest and the best nights out
          </div>
        </div>
      </div>
      <div class="column">
        <div class="img-container" data-aos="fade-up">
          <img src="/img/bar2.jpeg" class="food1" style="width: 100%" />
          <div class="overlay">
            Bars, Style Bars, Theme Bars and Sports Bars and everthing else in
            between
          </div>
        </div>
        <div class="img-container" data-aos="fade-up">
          <img src="/img/pub2.jpeg" class="food1" style="width: 100%" />
          <div class="overlay">
            Pubs, great selections and great atmospheres
          </div>
        </div>
        <div class="img-container" data-aos="fade-up">
          <img src="/img/venues2.jpeg" class="food1" style="width: 100%" />
          <div class="overlay">
            Live Venues, Live Music from across the board
          </div>
        </div>
      </div>
      <div class="column">
        <div class="img-container" data-aos="fade-up">
          <img src="/img/business2.jpeg" class="food1" style="width: 100%" />
          <div class="overlay">
            Promote your business Uk wide with our great sales options
          </div>
        </div>
      </div>
      <!-- <div class="column"></div> -->
    </div>
  </div>
</div>

<!-- section form -->

<div class="uk-section uk-section-large uk-section-muted">
  <div class="uk-container">
    <h4
      class="uk-text-uppercase uk-text-center uk-margin-top-large tagline1"
      data-aos="fade-up"
    >
      Stay Up To Date
    </h4>
    <hr class="uk-divider-icon" data-aos="fade-down" />
    <div class="uk-container uk-flex uk-flex-center uk-margin-large">
      <form class="uk-width-1-2">
        <div class="uk-form-stacked">
          <div class="uk-margin-medium">
            <label class="uk-form-label" for="email"
              ><p
                class="uk-text-center text-xlarge tagline2"
                data-aos="fade-up"
              >
                Subscribe us for all the offers and updates
              </p></label
            >
            <div class="uk-form-control">
              <input
                required
                class="uk-input uk-form-large tagline3 noSelect"
                type="text"
                id="email"
                name="email"
                placeholder="Email Address"
              />
            </div>
          </div>
          <div class="uk-margin-medium uk-text-center">
            <div class="uk-form-control" data-aos="fade-down">
              <input
                type="submit"
                class="uk-button uk-button-custom noSelect tagline4"
              />
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- footer -->
<%- include('./partials/modals.ejs'); %>
<footer class="uk-section uk-section-black">
  <div class="uk-text-center" uk-grid>
    <div class="uk-width-1-1@s">
      <img
        class="uk-border-circle"
        width="250"
        height="250"
        src="/img/livelybrand.png"
      />
    </div>

    <div class="uk-width-1-1@s uk-text-left uk-margin-large-left uk-light">
      <a
        href="#terms"
        class="uk-button uk-button-text uk-margin-large-right noSelect"
        uk-toggle
        >Terms and Conditions</a
      >

      <a
        href="/"
        class="uk-button-text uk-button uk-margin-large-right noSelect"
        >Privacy Policy</a
      >
      <a href="/" class="uk-button-text uk-button noSelect"
        >End User License Agreement</a
      >
    </div>
  </div>
  <div class="uk-margin-medium-top">
    <p class="uk-text-medium uk-text-center uk-margin-medium">
      © 2021 Getting Lively. All Rights Reserved
    </p>
  </div>
</footer>
