<%- include('./partials/navbar.ejs'); %>

<div class="uk-section-secondary">
  <div
    class="slidersec uk-margin-remove uk-visible-toggle uk-light"
    tabindex="-1"
    uk-slider="clsActivated: uk-transition-active; center: true"
  >
    <ul class="uk-slider-items uk-grid headimgs">
      <li class="uk-width-1-1">
        <div class="uk-panel">
          <img src="/img/header.jpg" alt="" />
          <div
            class="
              uk-overlay
              uk-overlay-primary
              uk-position-bottom
              uk-text-center
              uk-transition-slide-bottom
            "
          >
            <h3 class="uk-margin-remove">Getting Lively</h3>
            <p class="uk-margin">
              For bars, pubs, restaurants and nightclubs this is the place to be
            </p>
          </div>
        </div>
      </li>
      <li class="uk-width-1-1">
        <div class="uk-panel">
          <img src="/img/restaurant.jpg" alt="" />
          <div
            class="
              uk-overlay
              uk-overlay-primary
              uk-position-bottom
              uk-text-center
              uk-transition-slide-bottom
            "
          >
            <h3 class="uk-margin">Restaurant</h3>
            <p class="uk-margin">Good Friends, Good Food, Good Times</p>
          </div>
        </div>
      </li>
      <li class="uk-width-1-1">
        <div class="uk-panel">
          <img src="/img/bar.jpg" alt="" />
          <div
            class="
              uk-overlay
              uk-overlay-primary
              uk-position-bottom
              uk-text-center
              uk-transition-slide-bottom
            "
          >
            <h3 class="uk-margin">Bar</h3>
            <p class="uk-margin">Let's rum away</p>
          </div>
        </div>
      </li>
      <li class="uk-width-1-1">
        <div class="uk-panel">
          <img src="/img/club.jpg" alt="" />
          <div
            class="
              uk-overlay
              uk-overlay-primary
              uk-position-bottom
              uk-text-center
              uk-transition-slide-bottom
            "
          >
            <h3 class="uk-margin">Club</h3>
            <p class="uk-margin">Bands and peace</p>
          </div>
        </div>
      </li>
      <li class="uk-width-1-1">
        <div class="uk-panel">
          <img src="/img/pub.jpg" alt="" />
          <div
            class="
              uk-overlay
              uk-overlay-primary
              uk-position-bottom
              uk-text-center
              uk-transition-slide-bottom
            "
          >
            <h3 class="uk-margin">Pub</h3>
            <p class="uk-margin">You meet a better class of person in pubs</p>
          </div>
        </div>
      </li>
    </ul>

    <a
      class="uk-position-center-left uk-position-small uk-hidden-hover"
      href="#"
      uk-slidenav-previous
      uk-slider-item="previous"
    ></a>
    <a
      class="uk-position-center-right uk-position-small uk-hidden-hover"
      href="#"
      uk-slidenav-next
      uk-slider-item="next"
    ></a>
  </div>
</div>

<!-- ads -->
<div class="uk-section uk-section-large uk-section-muted foodsection">
  <div class="uk-container">
    <div class="uk-text-center tilecustom" uk-grid>
      <div class="uk-width-1-2@s">
        <div
          class="
            card1
            uk-card
            uk-card-hover
            uk-padding-small
            uk-card-large
            uk-card-default
            uk-card-body
          "
          data-aos="fade-up-right"
        >
          <img src="/img/food1.jpg" alt="" />
        </div>
      </div>
      <div class="uk-width-1-2@s">
        <div
          class="
            card2
            uk-card
            uk-card-hover
            uk-padding-small
            uk-card-large
            uk-card-default
            uk-card-body
          "
          data-aos="fade-up-left"
        >
          <img src="/img/food2.jpg" alt="" />
        </div>
      </div>
      <div class="uk-width-1-2@s">
        <div
          class="
            card3
            uk-card
            uk-card-hover
            uk-padding-small
            uk-card-large
            uk-card-default
            uk-card-body
          "
          data-aos="fade-up-right"
        >
          <img src="/img/food3.jpg" alt="" />
        </div>
      </div>

      <div class="uk-width-1-2@s">
        <div
          class="
            card4
            uk-card
            uk-card-hover
            uk-padding-small
            uk-card-large
            uk-card-default
            uk-card-body
          "
          data-aos="fade-up-left"
        >
          <img src="/img/food4.jpg" alt="" />
        </div>
      </div>
      <div class="uk-width-1-2@s">
        <div
          class="
            card5
            uk-card
            uk-card-hover
            uk-padding-small
            uk-card-large
            uk-card-default
            uk-card-body
          "
          data-aos="fade-up-right"
        >
          <img src="/img/food5.jpg" alt="" />
        </div>
      </div>
      <div class="uk-width-1-2@s uk-transition-toggle">
        <div
          class="
            card6
            uk-card
            uk-card-hover
            uk-padding-small
            uk-card-large
            uk-card-default
            uk-card-body
          "
          data-aos="fade-up-left"
        >
          <img src="/img/food6.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>

<!-- section form -->

<div class="uk-section uk-section-large uk-section-muted uk-section-custom">
  <div class="uk-container">
    <h4
      class="uk-text-uppercase uk-text-center uk-margin-top-large tagline1"
      data-aos="fade-up"
    >
      Stay Up To Date
    </h4>
    <hr class="uk-divider-icon" data-aos="fade-down" />
    <div class="uk-container uk-flex uk-flex-center uk-margin-large">
      <form class="uk-width-1-2">
        <div class="uk-form-stacked">
          <div class="uk-margin-medium">
            <label class="uk-form-label" for="email"
              ><p
                class="uk-text-center text-xlarge tagline2"
                data-aos="fade-up"
              >
                Subscribe us for all the offers and updates
              </p></label
            >
            <div class="uk-form-control">
              <input
                required
                class="uk-input uk-form-large tagline3"
                type="text"
                id="email"
                name="email"
                placeholder="Email Address"
              />
            </div>
          </div>
          <div class="uk-margin-medium uk-text-center">
            <div class="uk-form-control" data-aos="fade-down">
              <input
                type="submit"
                class="uk-button uk-button-custom noSelect tagline4"
              />
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- footer -->
<footer class="uk-section uk-section-black">
  <div class="uk-text-center" uk-grid>
    <div class="uk-width-1-1@s">
      <img
        class="uk-border-circle"
        width="250"
        height="250"
        src="/img/livelybrand.png"
      />
    </div>

    <div class="uk-width-1-1@s uk-text-center">
      <a href="/" class="uk-button uk-button-text uk-margin-large-right"
        >Terms and Conditions</a
      >
      <a href="/" class="uk-button-text uk-button">Privacy Policy</a>
    </div>
  </div>
  <div>
    <p class="uk-text-medium uk-text-center uk-margin-medium">
      © 2021 Getting Lively. All Rights Reserved
    </p>
  </div>
</footer>
