<%- include('./partials/navbar.ejs'); %>

<!-- search -->

<div
  class="
    uk-section
    uk-section-large
    uk-section-black
    uk-section-auto
    uk-search-section
    uk-light
  "
>
  <div class="uk-container">
    <h4 class="uk-text-uppercase uk-text-center uk-margin-top-large tagline1">
      Search For
    </h4>
    <p class="uk-text-center uk-text-large uk-margin-medium-top tagline2">
      1000s Of Restaurants, Bars, Clubs and Pubs
    </p>
    <hr class="uk-divider-icon" />
    <div class="uk-container uk-flex uk-flex-center uk-margin-large tagline4">
      <a
        class="uk-navbar-toggle uk-button-text uk-text-large"
        href="#modal-full"
        uk-icon="icon: search; ratio:3"
        uk-toggle
      >
        <span class="uk-margin-medium-right search">Search</span></a
      >
    </div>
  </div>
</div>
<!-- modal -->
<div id="modal-full" class="uk-modal-full uk-modal" uk-modal>
  <div
    class="uk-modal-dialog uk-flex uk-flex-center uk-flex-middle"
    uk-height-viewport
  >
    <button class="uk-modal-close-full" type="button" uk-close></button>
    <form class="uk-search uk-search-large">
      <input
        class="uk-search-input uk-input-large uk-text-center"
        type="search"
        placeholder="All of Manchester"
        autofocus
      />
    </form>
  </div>
</div>

<div class="uk-section-black uk-section-auto parallaxslider">
  <div
    class="uk-position-relative uk-visible-toggle uk-light"
    tabindex="-1"
    uk-slideshow="animation: push"
  >
    <ul class="uk-slideshow-items">
      <li>
        <img src="/img/header.jpg" alt="" uk-cover />
        <div class="uk-position-center uk-position-small uk-text-center">
          <h2 uk-slideshow-parallax="y: -50,0,0; opacity: 1,1,0">
            GETTING LIVELY
          </h2>
          <p
            class="uk-text-large"
            uk-slideshow-parallax="y: 50,0,0; opacity: 1,1,0"
          >
            For bars, pubs, restaurants and nightclubs this is the place to be
          </p>
        </div>
      </li>
      <li>
        <img src="/img/restaurant.jpg" alt="" uk-cover />
        <div class="uk-position-center uk-position-small uk-text-center">
          <h2 uk-slideshow-parallax="y: -50,0,0; opacity: 1,1,0">
            Restaurants
          </h2>
          <p uk-slideshow-parallax="y: 50,0,0; opacity: 1,1,0">
            Good Friends, Good Food, Good Times
          </p>
        </div>
      </li>
      <li>
        <img src="/img/club.jpg" alt="" uk-cover />
        <div class="uk-position-center uk-position-small uk-text-center">
          <h2 uk-slideshow-parallax="y: -50,0,0; opacity: 1,1,0">Clubs</h2>
          <p uk-slideshow-parallax="y: 50,0,0; opacity: 1,1,0">
            Live for today, plan for tomorrow, party tonight, party tonight
          </p>
        </div>
      </li>
      <li>
        <img src="/img/bar.jpg" alt="" uk-cover />
        <div class="uk-position-center uk-position-small uk-text-center">
          <h2 uk-slideshow-parallax="y: -50,0,0; opacity: 1,1,0">Bars</h2>
          <p uk-slideshow-parallax="y: 50,0,0; opacity: 1,1,0">
            Let's rum away
          </p>
        </div>
      </li>
      <li>
        <img src="/img/pub.jpg" alt="" uk-cover />
        <div class="uk-position-center uk-position-small uk-text-center">
          <h2 uk-slideshow-parallax="y: -50,0,0; opacity: 1,1,0">Pubs</h2>
          <p uk-slideshow-parallax="y: 50,0,0; opacity: 1,1,0">
            Drink Happy Thoughts
          </p>
        </div>
      </li>
    </ul>

    <a
      class="uk-position-center-left uk-position-small uk-hidden-hover"
      href="#"
      uk-slidenav-previous
      uk-slideshow-item="previous"
    ></a>
    <a
      class="uk-position-center-right uk-position-small uk-hidden-hover"
      href="#"
      uk-slidenav-next
      uk-slideshow-item="next"
    ></a>
  </div>
</div>

<!-- ads -->
<div class="uk-section uk-section-muted uk-padding-small foodsection">
  <h4 class="uk-text-uppercase uk-text-center" data-aos="fade-down">
    Keep Calm And Find A Great Place To Eat In UK
  </h4>
  <div class="uk-container">
    <div class="row foodrow">
      <div class="column">
        <img src="/img/food1.jpg" class="food1" style="width: 100%" />

        <img src="/img/food4.jpg" class="food2" style="width: 100%" />
      </div>
      <div class="column">
        <img src="/img/food3.jpg" class="food3" style="width: 100%" />

        <img src="/img/food8.jpg" class="food8" style="width: 100%" />
      </div>
      <div class="column">
        <img src="/img/food6.jpg" class="food6" style="width: 100%" />

        <img src="/img/food5.jpg" class="food5" style="width: 100%" />

        <img src="/img/food9.jpg" class="food9" style="width: 100%" />
      </div>

      <div class="column">
        <img src="/img/food7.jpg" class="food7" style="width: 100%" />

        <img src="/img/food7.jpg" class="food7" style="width: 100%" />
      </div>
    </div>
  </div>
</div>

<!-- section form -->

<div class="uk-section uk-section-large uk-section-muted">
  <div class="uk-container">
    <h4
      class="uk-text-uppercase uk-text-center uk-margin-top-large tagline1"
      data-aos="fade-up"
    >
      Stay Up To Date
    </h4>
    <hr class="uk-divider-icon" data-aos="fade-down" />
    <div class="uk-container uk-flex uk-flex-center uk-margin-large">
      <form class="uk-width-1-2">
        <div class="uk-form-stacked">
          <div class="uk-margin-medium">
            <label class="uk-form-label" for="email"
              ><p
                class="uk-text-center text-xlarge tagline2"
                data-aos="fade-up"
              >
                Subscribe us for all the offers and updates
              </p></label
            >
            <div class="uk-form-control">
              <input
                required
                class="uk-input uk-form-large tagline3"
                type="text"
                id="email"
                name="email"
                placeholder="Email Address"
              />
            </div>
          </div>
          <div class="uk-margin-medium uk-text-center">
            <div class="uk-form-control" data-aos="fade-down">
              <input
                type="submit"
                class="uk-button uk-button-custom noSelect tagline4"
              />
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- footer -->
<footer class="uk-section uk-section-black">
  <div class="uk-text-center" uk-grid>
    <div class="uk-width-1-1@s">
      <img
        class="uk-border-circle"
        width="250"
        height="250"
        src="/img/livelybrand.png"
      />
    </div>

    <div class="uk-width-1-1@s uk-text-center uk-light">
      <a href="/" class="uk-button uk-button-text uk-margin-large-right"
        >Terms and Conditions</a
      >

      <a href="/" class="uk-button-text uk-button">Privacy Policy</a>
    </div>
  </div>
  <div>
    <p class="uk-text-medium uk-text-center uk-margin-medium">
      © 2021 Getting Lively. All Rights Reserved
    </p>
  </div>
</footer>
