<div class="uk-section uk-section-muted">
  <div class="uk-container">
    <div
      class="
        uk-card uk-card-hover uk-card-default uk-text-center uk-width-1-1
        auth-card
        uk-card-large uk-margin-small
      "
    >
      <div class="uk-card-header">
        <h3 class="uk-card-title uk-margin-bottom uk-text-uppercase">Login</h3>
        <a
          href="/home"
          class="uk-button uk-button-text noSelect uk-text-primary"
          >Go To Homepage
          <span uk-icon="icon: home; ratio: 1" class="uk-margin-left"></span
        ></a>
      </div>
      <div class="uk-card-body">
        <form class="uk-width-1-1" method="POST" action="/users/login">
          <div class="uk-form-stacked">
            <div class="uk-margin-medium">
              <div class="uk-form-control">
                <input
                  required
                  class="uk-input uk-form-large noSelect"
                  type="email"
                  id="email"
                  name="email"
                  placeholder="Email Address"
                />
              </div>
              <div class="uk-form-control">
                <input
                  required
                  class="uk-input uk-form-large noSelect"
                  type="password"
                  id="password"
                  name="password"
                  placeholder="Password"
                />
              </div>
            </div>
            <%- include('./partials/loginError.ejs'); %>
            <div class="uk-margin-medium uk-text-center">
              <div class="uk-form-control">
                <button
                  type="submit"
                  class="uk-button uk-button-custom noSelect"
                >
                  Login
                  <span
                    uk-icon="icon: sign-in; ratio: 1"
                    class="uk-margin-left"
                  ></span>
                </button>
              </div>
            </div>
            <%- include('./partials/errors.ejs'); %>
            <a
              href="/users/forgot"
              class="uk-button uk-button-text uk-text-medium noSelect"
              >Forgot Password ?</a
            >
          </div>
        </form>
      </div>
      <div class="uk-card-footer uk-text-center">
        <a
          href="/users/register"
          class="uk-button uk-button-text uk-text-center@s noSelect"
          >Create an account</a
        >
      </div>
    </div>
  </div>
</div>
