<%- include('./partials/navbar.ejs'); %>

<ul class="uk-breadcrumb uk-margin-large-left">
  <li>
    <a href="/home" class="uk-button uk-button-text noSelect">Back To Home</a>
  </li>
  <li>
    <a href="/offers" class="active uk-button uk-button-text noSelect"
      >Offers</a
    >
  </li>
</ul>
