<div class="uk-section uk-section-muted">
  <div class="uk-container">
    <div
      class="
        uk-card uk-card-hover uk-card-default uk-text-center uk-width-1-1
        auth-card
        uk-card-large uk-margin-small
      "
    >
      <div class="uk-card-header">
        <h3 class="uk-card-title uk-margin-bottom uk-text-uppercase">
          Reset Password
        </h3>
        <a
          href="/home"
          class="uk-button uk-button-text noSelect uk-text-primary"
          >Go To Homepage</a
        >
      </div>
      <div class="uk-card-body">
        <form
          class="uk-width-1-1"
          action="/users/reset/<%- resetPasswordToken %>"
          method="POST"
        >
          <div class="uk-form-stacked">
            <div class="uk-margin-medium">
              <div class="uk-form-control">
                <input
                  required
                  class="uk-input uk-form-large noSelect"
                  type="password"
                  name="password"
                  id="password"
                  placeholder="New Password"
                />
              </div>
            </div>
            <div class="uk-margin-medium uk-text-center">
              <div class="uk-form-control">
                <button
                  type="submit"
                  class="uk-button uk-button-custom noSelect"
                >
                  Reset
                </button>
              </div>
            </div>
            <%- include('./partials/errors.ejs'); %>
            <a
              href="/users/login"
              class="uk-button uk-button-text uk-text-medium noSelect"
              >Back</a
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
