<div class="uk-container">
  <div
    class="
      uk-card
      uk-card-hover
      uk-card-default
      uk-text-center
      uk-width-1-1
      uk-position-center
      uk-card-large
      uk-margin-small
    "
  >
    <div class="uk-card-header">
      <h3 class="uk-card-title uk-margin-bottom uk-text-uppercase">
        Email Verification
      </h3>
    </div>
    <div class="uk-card-body">
      <div class="uk-alert-primary" uk-alert>
        <a class="uk-alert-close" href="/users/login" uk-close></a>
        <p>Email Verified Successfully!</p>
      </div>
    </div>
    <div class="uk-card-footer">
      <a
        href="/users/login"
        class="uk-button uk-button-text uk-text-medium noSelect"
        >Go back to login page</a
      >
    </div>
  </div>
</div>
