@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Raleway", sans-serif !important;
  overflow-x: hidden !important;
}

::-moz-selection {
  /* Code for Firefox */
  color: #ec4d37;
  background: #1d1b1b;
}

::selection {
  color: #ec4d37;
  background: #1d1b1b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Shippori Mincho", serif !important;
  margin: 5px;
  font-weight: bold !important;
  font-size: 80px;
  line-height: 85px;
}

nav {
  background-color: #1d1b1b !important;
}

nav li a h4 {
  color: whitesmoke !important;
  font-size: 35px;
}

.uk-offcanvas-bar {
  background-color: #1d1b1b !important;
  text-align: center;
  justify-content: center;
}

.uk-offcanvas-bar li a {
  color: #ec4d37 !important;
  font-size: 25px;
  font-weight: 700;
}

.uk-dropdown-nav a {
  font-size: 20px;
}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.brand {
  margin: 0 auto;
}

.brand:hover {
  color: white;
}
.uk-search-section {
  border-bottom: 8px solid white;
}

.uk-search-section .search {
  font-size: 40px;
}

.uk-section-custom {
  height: 100vh;
  border-bottom: 8px solid #ec4d37;
}

.uk-section-auto {
  height: auto;
}

.uk-button-custom {
  background: #ec4d37 !important;
  color: white;
}

.uk-section-black {
  background-color: black;
}

.logoimg {
  margin-left: 30px;
}

.tilecustom img {
  background-size: cover;
  background-position: center;
  width: 800px;
  height: 400px;
}

.parallaxslider img {
  background: #000;
  opacity: 0.6;
}

.parallaxslider h2 {
  font-size: 70px !important;
}

.parallaxslider p {
  font-size: 30px !important;
  color: white !important;
  padding: 4px;
  margin-top: 4px;
}

.foodsection {
  background: url(/img/foodbody.jpg) center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 8px solid #ec4d37;
  border-bottom: 8px solid #ec4d37;
}

.foodsection h4 {
  padding: 10px;
  font-size: 45px;
  /* background-color: rgb(243, 243, 243); */
  line-height: 50px;
  margin: 5px;
}

.foodsection img {
  filter: grayscale(2);
  transition: all 0.5s ease;
}

.foodsection img:hover {
  filter: grayscale(0);
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 10px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .parallaxslider h2 {
    font-size: 20px !important;
  }
  .parallaxslider h1 {
    font-size: 25px !important;
  }

  .parallaxslider p {
    font-size: 15px !important;
    color: white !important;
    padding: 2px;
    margin-top: 2px;
  }

  .foodrow {
    margin-top: 100px;
  }

  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

footer {
  height: auto;
  background: #1d1b1b;
  background: url(/img/body3.jpg) center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer a {
  text-decoration: transparent !important;
  color: white !important;
  font-size: 20px;
}

footer p {
  /* text-decoration: transparent !important; */
  color: white !important;
  font-size: 20px;
  margin: 15px !important;
}

@media (max-width: 768px) {
  .headimgs img {
    height: 400px;
    width: 100%;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .navbarbrand {
    display: none;
  }

  .uk-section-custom {
    height: auto;
  }
}
