@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Raleway", sans-serif !important;
  overflow-x: hidden !important;
}

::-moz-selection {
  /* Code for Firefox */
  color: #ec4d37;
  background: #1d1b1b;
}

::selection {
  color: #ec4d37;
  background: #1d1b1b;
}

input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"],
textarea {
  -webkit-user-select: text;
}

/* a {
  text-decoration: none !important;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Shippori Mincho", serif !important;
  margin: 5px;
  font-weight: bold !important;
  font-size: 80px;
  line-height: 85px;
}

button {
  border-radius: 5px !important;
}

nav {
  background-color: #1d1b1b !important;
}

nav li a h4 {
  color: whitesmoke !important;
  font-size: 35px;
}

.uk-offcanvas-bar {
  background-color: #1d1b1b !important;
  text-align: center;
  justify-content: center;
}

.uk-offcanvas-bar li a {
  color: #ec4d37 !important;
  font-size: 25px;
  font-weight: 700;
}

.uk-dropdown-nav a {
  font-size: 20px;
}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.brand {
  margin: 0 auto;
}

.brand:hover {
  color: white;
}

.uk-search-section .search {
  font-size: 40px;
}

.uk-section-custom {
  height: 100vh;
  border-bottom: 8px solid #ec4d37;
}

.uk-section-auto {
  height: auto;
}

.uk-button-custom {
  background: #ec4d37 !important;
  border-radius: 5px;
  color: white;
}

.uk-button {
  border-radius: 5px !important;
}

.uk-section-black {
  background-color: black;
}

.logoimg {
  margin-left: 30px;
}

.parallaxslider {
  border-bottom: 8px solid #ec4d37;
}

.parallaxslider img {
  background: #000;
  opacity: 0.6;
}

.parallaxslider h2 {
  font-size: 70px !important;
}

.parallaxslider p {
  font-size: 30px !important;
  color: white !important;
  padding: 4px;
  margin-top: 4px;
}

.detailsection {
  border-bottom: 8px solid #ec4d37;
}

.detailsection h4 {
  padding: 10px;
  font-size: 45px;
  /* background-color: rgb(243, 243, 243); */
  line-height: 50px;
  margin: 5px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 10px;
  vertical-align: middle;
  width: 100%;
}

.modal {
  color: rgb(24, 24, 24) !important;
}

.modal strong {
  font-size: 24px !important;
}

footer {
  height: auto;
  background: #1d1b1b;
  background: url(/img/body3.jpg) center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer a {
  text-decoration: transparent !important;
  color: white !important;
  font-size: 20px;
}

footer p {
  /* text-decoration: transparent !important; */
  color: white !important;
  font-size: 20px;
  margin: 15px !important;
}

/* overlay on the umage */
.img-container {
  position: relative;
}
.overlay {
  position: absolute !important;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: 0.5s ease;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.overlay:hover {
  padding: 30px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

  .navbarbrand {
    display: none;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .parallaxslider h2 {
    font-size: 20px !important;
    line-height: 22px !important;
  }
  .parallaxslider h1 {
    font-size: 25px !important;
    line-height: 27px !important;
  }

  .parallaxslider p {
    font-size: 15px !important;
    color: white !important;
    padding: 2px;
    margin-top: 2px;
  }

  .details {
    margin-top: 100px;
  }

  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

  .uk-section-custom {
    height: auto;
  }

  .search-container h4 {
    font-size: 45px !important;
  }

  .modal-title {
    font-size: 40px !important;
    line-height: 41px;
  }

  .uk-section-statistics h4 {
    font-size: 45px !important;
    line-height: 50px;
  }

  .uk-section-restaurant h4 {
    font-size: 35px !important;
    line-height: 50px;
  }

  .uk-section-entrydetail h4 {
    font-size: 40px !important;
    line-height: 50px;
  }

  .uk-bar-section h1 {
    font-size: 45px !important;
    line-height: 50px;
  }

  .uk-section-restaurant h4 {
    font-size: 25px !important;
    line-height: 50px;
  }

  .uk-section-bar h4 {
    font-size: 45px !important;
    line-height: 50px;
  }
}

.uk-section-bar {
  border-bottom: 8px solid #ec4d37;
}

.uk-section-restaurant {
  border-bottom: 8px solid #ec4d37;
}

.bartext {
  padding: 0 15px;
}

.borderBottom {
  border-bottom: 8px solid #ec4d37;
}

.error {
  color: black;
}

.uk-card-custom {
  min-height: 80vh;
  border-radius: 10px !important;
}

.uk-card-voucher {
  border-radius: 10px !important;
}

.ais-SearchBox {
  top: 0;
  left: 0;

  width: 80%;

  margin-bottom: 20px;
  margin: 70px auto;
}

.ais-SearchBox input {
  height: 50px;
  outline: none;
  padding: 30px 40px;

  /* margin: 20px; */
}

.ais-Hits {
  margin: 50px 65px;
}

.ais-Pagination {
  margin: 25px 0px;
}

.ais-Hits-item {
  margin: 20px;
  padding: 0;
  width: 100%;
  outline: none;
}

.info-text {
  background: #1d1b1b;
  color: #ec4d37;
  padding: 30px 15px;
  border-left: 10px solid #ec4d37;
  border-radius: 8px;
}

.page-details {
  border-bottom: 5px solid #28a745;
  border-radius: 5px;
}

.uk-card-admin {
  border-bottom: 10px solid #ec4d37;
  border-radius: 8px;
}

.uk-card-title {
  margin: 2px 4px;
  padding: 10px;
  background-color: #ec4d37;
  border-radius: 5px;
  color: white !important;
}

.uk-letter-spacing {
  letter-spacing: 2px;
}

.homepageslider img {
  width: 100%;
  height: 250px;
  background-size: cover;
}

/* .entryslider img {
  width: 100%;
  height: 300px;
  background-size: contain;
  object-fit: contain;
} */

.entryslider img {
  width: 100%;
  height: 500px;
  background-size: cover;
  object-fit: cover;
}

.entryimg img {
  width: 100%;
  height: 200px;
  background-size: cover;
  object-fit: cover;
}

.pageimg img {
  width: 100%;
  height: 300px;
  background-size: cover;
  object-fit: cover;
}

.singleentry img {
  width: 100%;
  height: 70vh;
  background-size: cover;
  object-fit: cover;
}

.search-dialog {
  background-image: url("/img/search.jpg");
  background-position: center;
  background-size: cover;
  object-fit: cover;
  background: rgba(0, 0, 0, 0.408);
  background-blend-mode: overlay;
  border: 1px solid white;
  border-radius: 10px;
}

.searchtext {
  color: #ffffff !important;
  font-weight: bold;
}

.ais-Hits-item {
  border: none;
  box-shadow: none;
}

.ais-Hits--empty {
  color: white;
  text-align: center;
  font-weight: bold;
}

.ais-SearchBox-input {
  background: rgba(255, 255, 255, 0.775);
}

.uk-modal-close-full {
  color: rgb(255, 0, 0);
  background: rgba(0, 0, 0, 0);
}

.uk-modal-close-full:hover {
  color: #ec4d37;
  font-weight: bolder;
}

input.ais-SearchBox-input {
  color: rgb(0, 0, 0) !important;
}

.uk-card-footer {
  height: 150px !important;
}

.paylink {
  color: whitesmoke;
}

.paylink:hover {
  color: whitesmoke;
  background-color: #1d1b1b !important;
}

.label-page:hover {
  color: whitesmoke;
  /* background-color: #1d1b1b !important; */
}

.review-text {
  overflow-y: scroll;
}

.uk-alert-danger {
  color: #d04949;
}

.uk-alert-success {
  color: #25a048;
}

.link-to-ml {
  background-color: #c2f8d1;
}

.auth-card {
  border-radius: 10px;

  margin: auto;
  height: fit-content;
  width: 500px;
}

.review-box {
  border-radius: 10px;
  border-right: 5px solid #28a745;
}
