<div class="uk-section uk-section-default uk-margin-small-top uk-text-center">
  <h1 class="uk-text-center@s uk-heading-large uk-margin-small-left">
    Whoops! Page Not Found
  </h1>
  <hr class="customhr" />
  <a
    class="
      noSelect
      uk-text-center uk-text-capitalize uk-button uk-button-text
      error
    "
    href="/home"
    ><span class="noSelect uk-text-large uk-text-bold">Go Back</span></a
  >
</div>
